img {
	/* 	This is how you center an image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

body {
	margin-left: 10%;
	margin-right: 10%;
	font-family: Lato;
}

h1 {
	text-align: center;
	
}

h2 {
	font-style: italic;
}

li {
	line-height: 1.5;
	font-size: 18px;
}

mark {
	border-radius: 5px;
	padding-left: 3px;
	padding-right: 3px;
}

#flags{
	font-size: 35px;
}